{% extends 'base.html' %}
{% block content %}
<h1>Training</h1>
<form action="{{ url_for('train_color', color='white') }}" method="post" class="mt-3">
    <button type="submit" class="btn btn-primary">Analyze White</button>
</form>
<form action="{{ url_for('train_color', color='black') }}" method="post" class="mt-3">
    <button type="submit" class="btn btn-primary">Analyze Black</button>
</form>
<form action="{{ url_for('train_color', color='both') }}" method="post" class="mt-3">
    <button type="submit" class="btn btn-primary">Analyze Both</button>
</form>
{% endblock %}
